<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1><center>Counter</h1></center>
    
    <center><p><%= counting %> times</p></center>
    
    <!-- add two -->
    <form action="/addTwo" method="POST">
    <center><button type="submit">add 2</button></center>
    </form>

    <form action="/delete" method="POST">
        <center><button type="submit">Reset</button></center>
    </form>


</body>
</html>